div.card{
	margin:5px;
	border-radius:10px 10px 0 0;
	border:3px solid darkslateblue;

	background-color:lightblue;
}

div.borderless-card{
	margin:5px;
}

div.card div.header ,
div.borderless-card div.header{

	border-bottom:2px solid grey;

	font-weight:bolder;
	font-size: 2em;

	border-radius:7px 7px 0 0;

	background-color:royalblue;
}

div.card div.text-section,
div.borderless-card div.header{

	padding:5px;
	border-radius:10px 10px 0 0;
	text-align:left;
}

div.sub-section{
	text-align:left;
}

div.card div.section,
div.borderless-card div.header{
	padding:5px;
}