/* Rows & Columns */

div.row-left , div.row-left-center ,
div.row-right, div.row-right-center,
div.row-up   , div.row-up-center   ,
div.row-down , div.row-down-center {
	display: flex;
	width: 100%;
}

div.row-right, div.row-right-center{
	flex-direction: row-reverse;
}

div.row-down, div.row-down-center{
	flex-direction: column;
}

div.row-up, div.row-up-center{
	flex-direction: column-reverse;
}

div.row-up-center    ,
div.row-down-center  ,
div.row-right-center ,
div.row-left-center  {
	align-items:center;
	justify-content: center;
}

div.sm-1, div.sm-2, div.sm-3, div.sm-4,
div.sm-5, div.sm-6, div.sm-7, div.sm-8,
div.sm-9, div.sm-10, div.sm-11, div.sm-12,
div.sm-13, div.sm-14, div.sm-15, div.sm-16{
	padding:1px;
}

div.sm-1{
	min-width: 6.25%;
	max-width: 6.25%;
}
div.sm-2{
	min-width: 12.50%;
	max-width: 12.50%;
}
div.sm-3{
	min-width: 18.75%;
	max-width: 18.75%;
}
div.sm-4{
	min-width: 25%;
	max-width: 25%;
}
div.sm-5{
	min-width: 31.25%;
	max-width: 31.25%;
}
div.sm-6{
	min-width: 37.50%;
	max-width: 37.50%;
}
div.sm-7{
	min-width: 43.75%;
	max-width: 43.75%;
}
div.sm-8{
	min-width: 50%;
	max-width: 50%;
}
div.sm-9{
	min-width: 56.25%;
	max-width: 56.25%;
}
div.sm-10{
	min-width: 62.50%;
	max-width: 62.50%;
}
div.sm-11{
	min-width: 68.75%;
	max-width: 68.75%;
}
div.sm-12{
	min-width: 75.00%;
	max-width:75.00%;
}
div.sm-13{
	min-width: 81.25%;
	max-width: 81.25%;
}
div.sm-14{
	min-width: 87.50%;
	max-width: 87.50%;
}
div.sm-15{
	min-width: 93.75%;
	max-width: 93.75%;
}
div.sm-16{
	min-width: 100.00%;
	max-width: 100.00%;
}


/* Centering and alignment */
div.center-all{
	display:flex;

	align-items:center;
	justify-content: center;
}

div.space-between{
	display:flex;

	align-items: center;
	justify-content:space-between;
	font-weight:800;
}

div.left-align{
	justify-content: flex-start;
	text-align:left;
}

div.right-align{
	justify-content: flex-end;
	text-align:right;
}
