:root{
	--color-primary: rgb(129, 95, 139);
	--color-primary-text: white;

	--color-secondary: rgb(108, 157, 240);
	--color-secondary-text: black;

	--color-tertiary: #147500;
	--color-tertiary-text: black;

	--color-background-primary: #e1dee0;
	--color-background-primary-text:black;

	--color-background-secondary: #9be68a;
	--color-quintary-text:black;

	--main-bg-color: white;

	--width-medium:150px;

	--base-font: 'Consolas';
	--reading-font: Verdana, Geneva, sans-serif;
}

a{
	text-decoration: unset;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color:black;
}

body{
	background:white;
	color:black;
	font-family:var(--base-font);
	text-align:center;
}

.shrink-text{
	font-size:.7em;
}

.max-container{
	max-width:800px;
	min-width:800px;
	min-height:1100px;
	max-height:1100px;
	margin-left:auto;
	margin-right:auto;

}

pre{
	text-align:left;
	font-size:1.2em;
	tab-size:4
}

span.red{
	color:darkred;
	font-weight: 800;
}

span.green{
	color:green;
	font-weight: 600;
}

span.purple{
	color:purple;
	font-weight: 800;
}

.subtext{
	font-size:.7em;
}

div.section-offset{
	margin-left:-90px;
	padding: 15px;
}

div.page-header{
	background-color:var(--color-primary);
	border-bottom: 3px solid var(--color-secondary);

	color: var(--color-primary-text)
}

.low-padding{
	padding:5px;
	margin:5px;
}

button.btn-primary,
button.btn-secondary,
button.btn-tertiary,
button.btn-quantary,
button.btn-quintary{
	border:0px solid black;

	border-radius: 10px;
	padding:6px;
	margin:4px;
	font-size:.8em;
}

button.btn-primary{
	background-color:var(--color-primary);
	color: var(--color-primary-text);
}

button.btn-secondary{
	background-color:var(--color-secondary);
	color: var(--color-secondary-text);
}

button.btn-primary:hover{
	background-color:var(--color-primary-hover);
}

mark.standard-mark{
	display:inline-block;
	border-radius:5px;

	font-weight:600;

	margin: 5px;
	padding: 5px;
}

mark.mini-mark{
	display:inline-block;
	border-radius:3px;

	font-weight:600;

	margin:2px;
	padding:2px;
}


.primary{
	background-color:var(--color-primary);
	color: var(--color-primary-text);
}

.secondary{
	background-color:var(--color-secondary);
	color:var(--color-secondary-text);
}

.tertiary{
	background-color:var(--color-tertiary);
	color:var(--color-primary-tertiary);
}

.quantary{
	background-color:var(--color-quantary);
	color:var(--color-primary-quantary);
}

.quintary{
	background-color:var(--color-quintary);
	color:var(--color-quintary-text);
}

mark.clear{
	background-color: rgba(0,0,0,0);
	font-size:1.4em;
	color:inherit;
}

.fixed-width-medium{
	max-width: var(--width-medium);
	min-width: var(--width-medium);
}

img.logo-planet{
	object-fit: contain;
	max-width:101%
}

.glow-text{
	color: black;
	text-shadow:
			1 0 2px #00AADD,
			0 1 5px #00AADD;

	text-align: center;
}

.other-image{
	height:80px
}